{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1 class="title">Click To Generate OTP</h1>

  {% if generatedOTP %}
    <p>{{generatedOTP}}</p>
  {% endif %}

  <form method="GET" action="/te">
      <button type='submit' class="button">Get OTP</button>
  </form> 
  <form method="POST" action="">
      <button type='submit' class="button">RESET</button>
  </form>
  <hr>
</div>
{% endblock content %} 
{% block form %}
<form method="POST" action="/te">
<input type="text" name="otp" id="otp" class="otp"><br>
<input type="text" name="prev" id="prev" class = "prev" value={{generatedOTP}} ><br>
<input type="submit" value="Submit">
</form>

{% endblock %}